<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FakeBank.com - Register</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    </head>
    <body>
        <div class="card">
            <h1>Create your FakeBank.com account</h1>
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
            <form class="login-form" action="/register" method="post">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Register</button>
            </form>
            <p class="subtext">Already have an account? <a href="/">Login here</a>.</p>
        </div>
    </body>
</html>
